[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
test = "pytest"
testcov = "sh -c 'coverage run -m py.test && coverage report'"
lint = "flake8"

[packages]
"e1839a8" = {path = ".", editable = true}
async-exit-stack = "*"
click = "*"
cryptography = "*"
dataclasses = "*"
psutil = "*"
pymongo = "*"
ryu = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
coverage = "*"
mockupdb = "*"

[requires]
python_version = "3.6"
